@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --color-weblit : #264653;
    --color-weblit-light : #eeeeee;
    --color-weblit-dark: #101E24;

    --font-weblit: 'Inter', sans-serif;
    --default-font-family: var(--font-weblit);
}

@layer base {
    *:focus-visible {
        outline: 2px solid var(--color-weblit);
    }
    #app {
        height: 100%;
    }
    button {
        cursor: pointer;
    }
}