@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-weblit: #264653;
  --color-weblit-light: #eeeeee;
  --color-weblit-dark: #101e24;

  --font-weblit: 'Inter', sans-serif;
  --default-font-family: var(--font-weblit);
}

@layer base {
  *:focus-visible {
    outline: 2px solid var(--color-weblit);
  }
  #app {
    height: 100%;
  }
  button {
    cursor: pointer;
  }
}

.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn-spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid white;
  border-right: 0.2em solid white;
  border-bottom: 0.2em solid white;
  border-left: 0.2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
