.full-page {
	display: grid;
	align-items: center;
}

.image-container {
	display: none;
}
.btn {
	margin-top: 1rem;
}

.member-btn {
	background: transparent;
	border: transparent;
	color: var(--primary-500);
	cursor: pointer;
	letter-spacing: var(--letterSpacing);
}

@media(min-width:768px) {
	.full-page {
		grid-template-columns: 1fr 2fr;
	}

	.image-container {
		display: block;
		height: 100dvh;
		background-color: var(--primary-500);
	}
}