<h2>{{research?.title}}</h2>
<p>{{research?.description}}</p>
<h4>Selected Primary studies</h4>
<section class="research-papers-wrapper card-wrapper">
    <article class="research card">
        <span><strong>Title</strong></span>
        <h5>Machine learning in good environment</h5>
        <span><strong>Abstract</strong></span>
        <p>this is a sample abstract</p>
        <span><strong>Authors</strong></span>
        <p>justing bro</p>
    </article>

    <article class="research card">
        <span><strong>Title</strong></span>
        <h5>Machine learning in good environment</h5>
        <span><strong>Abstract</strong></span>
        <p>this is a sample abstract</p>
        <span><strong>Authors</strong></span>
        <p>justing bro</p>
    </article>

    <article class="research card">
        <span><strong>Title</strong></span>
        <h5>Machine learning in good environment</h5>
        <span><strong>Abstract</strong></span>
        <p>this is a sample abstract</p>
        <span><strong>Authors</strong></span>
        <p>justing bro</p>
    </article>

    <article class="research card">
        <span><strong>Title</strong></span>
        <h5>Machine learning in good environment</h5>
        <span><strong>Abstract</strong></span>
        <p>this is a sample abstract</p>
        <span><strong>Authors</strong></span>
        <p>justing bro</p>
    </article>
</section>

<aside class="queries card-aside">
    this is is a side 
</aside>