nav {
    display: none;
}
section .card {
    flex-direction: column;
}
p {
    max-width: 100%;
    font-size: 1rem;
}
.queries {
    margin-top: 2rem;
}
.query {
    margin-bottom: 1rem;
}

.review-dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem
}
 .card {
    width: 100%;
}
.primary-studies {
    margin-top: 0;
    justify-content: flex-start;
    padding-left: 2rem;
    border-left: 1px solid var(--grey-200);
}
.top-row {
    display: flex;
    justify-content: space-between;
}


.top-row .btn {
    height: fit-content;
}

.right-hand {
    display: flex;
    gap: 2rem;
}
.document.card {
    margin-bottom: 2rem;
}

.documents-wrapper {
    max-height: 100vh;
    overflow-y: scroll;
    padding-right: 1.5rem;
}

.documents-wrapper::-webkit-scrollbar {
    width: 10px;
  }
  
  .documents-wrapper::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
  }
  
  .documents-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--grey-200);
  }

.add-new-query {
    background: white;
    color: black;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    box-shadow:  rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 0.5rem;
    span {
        color: var(--primary-500);
    }
}

.primary-studies p, .primary-studies h5 {
    margin-bottom: 0.2rem;
}