<section class="main review-dashboard">
    <aside class="top_row">
        <div class="query-wrapper">
            <h3>My queries</h3>
            <button class="btn add-new-query"><span nz-icon nzType="plus" nzTheme="outline"></span> New Query</button>
            <div class="queries">
                <div class="card query">
                    <strong>Search String</strong>
                    <p>this is my search string</p>
                    <strong>Inclusion Criteria</strong>
                    <p>sample inclusion criteria</p>
                    <strong>Exclusion Criteria</strong>
                    <p>Sample exclusion criteria</p>
                    <strong>Research Question</strong>
                    <p>sample researchh questtion</p>
                    <span><strong>Total Research paper: </strong> 12</span>
                </div>
                <div class="card query">
                    <strong>Search String</strong>
                    <p>this is my search string</p>
                    <strong>Inclusion Criteria</strong>
                    <p>sample inclusion criteria</p>
                    <strong>Exclusion Criteria</strong>
                    <p>Sample exclusion criteria</p>
                    <strong>Research Question</strong>
                    <p>sample researchh questtion</p>
                    <span><strong>Total Research paper: </strong> 12</span>
                </div>
            </div>
        </div>
    </aside>
    <section class="primary-studies">
        <div class="top-row"><h3>Selected Primary Studies</h3></div>
        <div class="documents-wrapper">
            <div class="document card">
                <strong>Title</strong>
                <h5>Machine Learning</h5>
                <strong>Abstract</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <strong>Authors</strong>
                <p>John Doe, Jane Smith
                </p>
                <span><strong>Cited:</strong> 267 times</span>
                <div class="match--rate">
                    <span><strong>Query Match rate: </strong>70%</span>
                </div>
            </div>
            <div class="document card">
                <strong>Title</strong>
                <h5>Machine Learning</h5>
                <strong>Abstract</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <strong>Authors</strong>
                <p>John Doe, Jane Smith
                </p>
                <span><strong>Cited:</strong> 267 times</span>
                <div class="match--rate">
                    <span><strong>Query Match rate: </strong>70%</span>
                </div>
            </div><div class="document card">
                <strong>Title</strong>
                <h5>Machine Learning</h5>
                <strong>Abstract</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <strong>Authors</strong>
                <p>John Doe, Jane Smith
                </p>
                <span><strong>Cited:</strong> 267 times</span>
                <div class="match--rate">
                    <span><strong>Query Match rate: </strong>70%</span>
                </div>
            </div><div class="document card">
                <strong>Title</strong>
                <h5>Machine Learning</h5>
                <strong>Abstract</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <strong>Authors</strong>
                <p>John Doe, Jane Smith
                </p>
                <span><strong>Cited:</strong> 267 times</span>
                <div class="match--rate">
                    <span><strong>Query Match rate: </strong>70%</span>
                </div>
            </div>
        </div>
    </section>
</section>