<main class="dashboard">
  <div>
    <nav clas>
      <div class="nav-center">
        <a
          routerLink="/dashboard/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          #dashboardLink="routerLinkActive"
          class="nav-link"
          ><span class="icon" nz-icon nzType="dashboard" nzTheme="fill"></span
          >Literature Reviews</a
        >
        <div class="left-hand flex">
          <div class="user-details"><a nz-dropdown nzTrigger="click" [nzDropdownMenu]="profile"><nz-avatar nzSize="small" nzText="{{getInitials(user.email)}}"></nz-avatar> {{user.email}} <span nz-icon nzType="down" nzTheme="outline"></span>
          </a><nz-dropdown-menu #profile="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item><a
                routerLink="/dashboard/profile"
                routerLinkActive="active"
                class="nav-link"
                ><span class="icon" nz-icon nzType="profile" nzTheme="fill"></span
                >Profile
              </a></li>
              <li nz-menu-item> <button class="nav-link btn-signout" (click)="logOut()">
                <i class="icon" nz-icon nzType="logout" nzTheme="outline"></i>
                Signout
              </button></li>
            </ul>
          </nz-dropdown-menu></div>
        </div>
      </div>
    </nav>
    <article class="dashboard-page">
      <h3 class="title">{{ title }}</h3>
      <router-outlet></router-outlet>
      <app-create-review></app-create-review>
    </article>
  </div>
</main>
