<div class="header-section">
  <h3 class="title">Reviews</h3>
  <div class="create-review" (click)="toggleCreateForm()">
    <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
    <span class="sm-d-none">Create new review</span>
  </div>
</div>

<!-- Show skeleton while loading -->
<section *ngIf="loading" class="wrapper">
  <article class="reviews">
    <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
  </article>
</section>

<!-- Show empty state only if there is no data after loading -->
<div class="empty-container" *ngIf="!loading && researchs.length === 0">
  <app-empty [createReview]="toggleCreateForm.bind(this)"></app-empty>
</div>
<!-- Create Form -->
<section *ngIf="showCreateForm" class="create-review-wrapper">
  <article class="reviews">
    <app-review-form
      (formSubmitted)="handleFormSubmitted()"
      (formCanceled)="toggleCreateForm()"
    ></app-review-form>
  </article>
</section>
<!-- Show actual data if not loading -->
<section *ngIf="!loading && researchs.length > 0" class="wrapper">
  <article class="reviews" *ngFor="let research of researchs">
    <div class="review" *ngIf="editingResearch !== research" (click)="selectResearch(research)" [routerLink]="['/dashboard/research', research._id]">
      <div class="content">
        <span class="research-title">{{ research.title }}</span>
      </div>
      <div class="date-nav">
        <span class="date sm-d-none"> {{ research.updatedAt | date: 'h:mma MMM d' }} </span>
        <span (click)="$event.stopPropagation()" nz-dropdown nzTrigger="click" [nzDropdownMenu]="reviewActionMenu" nz-icon nzType="ellipsis" nzTheme="outline"></span>
        <nz-dropdown-menu #reviewActionMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="selectResearch(research)" [routerLink]="['/dashboard/research', research._id]">
              <span nz-icon nzType="info" nzTheme="outline"></span><span class="menu-title">View Review</span>
            </li>
            <li nz-menu-item (click)="showDeleteConfirm(research._id)">
              <span nz-icon nzType="delete" nzTheme="outline"></span><span class="menu-title">Delete Review</span>
            </li>
            <li nz-menu-item (click)="toggleEditForm(research)">
              <span nz-icon nzType="edit" nzTheme="outline"></span><span class="menu-title">Edit Review</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
    <!-- Edit Form -->
    <div class="edit review" *ngIf="editingResearch === research">
      <app-review-form
        [isEditMode]="true"
        [reviewToEdit]="research"
        (formSubmitted)="handleFormSubmitted()"
        (formCanceled)="toggleEditForm(research)"
        class="review-edit-form"
      ></app-review-form>
    </div>
  </article>
</section>