<main class="full-page">
  <div class="image-container"></div>
  <form class="form" [formGroup]="form" (submit)="signup()">
    <div class="form-heading"><h5>Create an account</h5><p>Let’s get started with  a free account</p></div>
    <div class="form-row">
      <label for="name" class="form-label"> Name </label>
      <input
        id="name"
        type="text"
        class="form-input"
        [class.input-error]="
          form['controls']['name'].errors && form['controls']['name'].touched
        "
        formControlName="name"
        placeholder="John Wick"
      />
    </div>
    <div class="form-row">
      <label for="email" class="form-label"> Email Address </label>
      <input
        id="email"
        type="email"
        class="form-input"
        [class.input-error]="
          form['controls']['email'].errors && form['controls']['email'].touched
        "
        formControlName="email"
        placeholder="johnwick@example.com"
      />
    </div>
    <div class="form-row">
      <label for="password" class="form-label"> Password </label>
      <input
        type="password"
        class="form-input"
        [class.input-error]="
          form['controls']['password'].errors &&
          form['controls']['password'].touched
        "
        formControlName="password"
      />
    </div>
    <button type="submit" class="btn btn-block">
      <span *ngIf="!processLoading">Register</span>
      <nz-spin [nzSpinning]="processLoading"></nz-spin>
    </button>
    <p class="form-footer-link">
      Already a member ? <a routerLink="/signin" class="member-btn">Signin</a>
    </p>
  </form>
</main>
