.form-numbers-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

textarea {
    min-height: 100px;
}

.form-actions {
    display: flex;
    gap: 1rem;
}

.btn {
    min-width: 60px ;
}